@font-face{
    font-family: 'Ivy-Mode';
    src: url('./IvyMode-Regular.ttf'),
    url('./IvyMode-Regular.woff'),
    url('./IvyMode-Regular.woff2'); 
    font-weight: 500;
    font-display: swap;
}
@font-face{
    font-family: 'Ivy-Mode';
    src: url('./IvyMode-SemiBold.ttf'),
    url('./IvyMode-SemiBold.woff'),
    url('./IvyMode-SemiBold.woff2'); 
    font-weight: 600;
    font-display: swap;
}